---
title: My Blog.
layout: post
index: index
fuzzydate: sharing my stuff
---

Welcome to my small list of blog-posts:

<ul>
{% assign posts = site.posts | where: "layout", "post" %}
{% for post in posts %}
<li><span style="width:10em;display:inline-block;">{{post.fuzzydate}}</span> <a href="{{post.permalink}}">{{post.title}}</a></li>
{% endfor %}
</ul>

<ul>
{% assign resumes = site.posts | where: "layout", "resume" %}
{% for post in resumes %}
<li><a href="{{post.permalink}}">{{post.title}}</a></li>
{% endfor %}
</ul>